<div class="headerbox">
    <img>
    <ul>
        <a>
            <li (click)="go('')" class="home">
                Home
            </li>
        </a>
        <a>
            <li (click)="go('copper')" class="copper">
                Copper
            </li>
        </a>
        <a>
            <li (click)="go('silver')" class="silver">
                Silver
            </li>
        </a>
        <a>
            <li (click)="go('gold')" class="gold">
                Gold
            </li>
        </a>
    </ul>
</div>