<section class="start">
    <h1>Do ir now or never</h1>
    <p>Your personal plan with one click</p>
    <div class="buttons">
        <button class="first">Discover more</button>
        <button (click)="go('pricing')" class="second">View plans</button>
    </div>
</section>
<section>
    <h1>Your personal plan</h1>
    <ul>
        <li>Guaranteed results</li>
        <li>Healthy body</li>
        <li>Professional routine</li>
    </ul>
    <button (clicl)="go('pricing')">Start today</button>
</section>
<section>
    <h2>Start now for 5$</h2>
    <div>
        <div>
            <h2>Basic</h2>
            <ul>
                <li>Personal plan</li>
            </ul>
            <p>5$</p>
        </div>
        <div>
            <h2>Gold</h2>
            <ul>
                <li>Personal plan</li>
                <li>Weekly tracking</li>
            </ul>
            <p>15$/month</p>
        </div>
        <div>
            <h2>Platinum</h2>
            <ul>
                <li>Personal plan</li>
                <li>Daily tracking</li>
                <li>Exclusive chat access</li>
            </ul>
            <p>30$/month</p>
        </div>
    </div>
    <div>
        <p>Buy now our basic plan and get 15% offer in future plans<span>*</span></p>
    </div>
    <div>
        <p>For everyo 1$ you spend on our shop you will earn 1 participation to a giveaway with more than 30 products<span>*</span></p>
    </div>
</section>