.start {
    height: calc(100vh - 100px);
    background-color: #313131;
    color: #fff;
}

.start h1 {
    font-size: 60px;
    text-transform: uppercase;
    position: absolute;
    bottom: calc(10% + 100px);
    right: 10%;
}

.start p {
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    bottom: calc(10% + 90px);
    right: 10%;
}

.start div.buttons {
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.start div.buttons > button {
    width: 260px;
    height: 80px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.start div.buttons > button:hover {
    transform: scale(1.05);
}

.start div.buttons button.first {
    border: 2px solid #ffc63d;
    background-color: transparent;
    color: #fff;
}

.start div.buttons button.second {
    border: 2px solid #ffc63d;
    background-color: #ffc63d;
    color: #313131;
}

.info {
    background-color: #171717;
    background-image: url("./assets/muscle-body.jpg");
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
}

.info h1 {
    position: absolute;
    color: #fff;
    font-size: 34px;
    left: 10%;
    top: 10%;
    margin: 0px;
    padding: 0px;
}

.info ul {
    position: absolute;
    color: #fff;
    left: 10%;
    top: calc(10% + 40px);
    font-size: 20px;
    list-style: none;
}

.info li {
	margin: 0;
	padding: 20px 0 20px 44px;
	list-style: none;
	background-image: url("./assets/check.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
    font-weight: bold;
}

.info button {
    position: absolute;
    bottom: 10%;
    left: calc(10% + 40px);
    height: 50px;
    border: 2px solid #ffc63d;
    background: transparent;
    color: #fff;
    width: 300px;
    font-size: 17px;
    cursor: pointer;
}