<section class="start">
    <div class="back"></div>
    <h1>Do it now or never</h1>
    <p>Your personal plan with one click</p>
    <div class="buttons">
        <button class="first">Discover more</button>
        <button (click)="go('pricing')" class="second">View plans</button>
    </div>
</section>
<section class="info">
    <h1>Your personal plan</h1>
    <ul>
        <li>Guaranteed results</li>
        <li>Healthy body</li>
        <li>Professional routine</li>
    </ul>
    <button (clicl)="go('pricing')">Start today</button>
</section>
<section class="plans">
    <h2>Start now for 15$</h2>
    <div class="container">
        <div class="box">
            <div class="plan">
                <div class="header copper">
                    <p class="title">Copper</p>
                    <p class="price">15$</p>
                    <button>Buy</button>
                </div>
                <ul>
                    <li>Personal plan</li>
                </ul>
                <p (click) = "go('copper')">More info</p>
            </div>
        </div>
        <div class="box active">
            <p>Recommended product</p>
            <div class="plan">
                <div class="header silver">
                    <p class="title">Silver</p>
                    <p class="price">35$</p>
                    <button>Buy</button>
                </div>
                <ul>
                    <li>Personal plan</li>
                    <li>Weekly tracking</li>
                    <li>Giveaway participation</li>
                </ul>
                <p (click) = "go('silver')">More info</p>
            </div>
        </div>
        <div class="box">
            <div class="plan">
                <div class="header gold">
                    <p class="title">Gold</p>
                    <p class="price">55$</p>
                    <button>Buy</button>
                </div>
                <ul>
                    <li>Personal plan</li>
                    <li>Daily tracking</li>
                    <li>Exclusive chat access</li>
                    <li>Giveaway participation</li>
                </ul>
                <p (click) = "go('gold')">More info</p>
            </div>
        </div>
    </div>
    <div class="promo">
        <p>Buy now one of our plans and get 15% offer in our future products<span>*</span></p>
    </div>
</section>