<section class="start">
    <div class="back"></div>
    <h1>Do it now or never</h1>
    <p>Your personal plan with one click</p>
    <div class="buttons">
        <button class="first">Discover more</button>
        <button (click)="go('pricing')" class="second">View plans</button>
    </div>
</section>
<section class="info">
    <h1>Your personal plan</h1>
    <ul>
        <li>Guaranteed results</li>
        <li>Healthy body</li>
        <li>Professional routine</li>
    </ul>
    <button (clicl)="go('pricing')">Start today</button>
</section>
<section class="plans">
    <h2>Start now for 15$</h2>
    <app-productbox></app-productbox>
</section>