<div class="mc">
    <p>We need to collect some data to be able to give you your personalized plan. Please answer honestly, we will not
        share the data with anyone.</p>
    <input-text id="name" required="true" autocomplete="given-name" validation="^[A-Za-z\u0600-\u06FF][A-Za-z\u0600-\u06FF\s']{2,}$">Name</input-text>
    <input-date id="bday" required="true" max="today-12y" min="today-95y">Birthday</input-date>
    <input-text id="name" required="true" autocomplete="given-name" validation="^[A-Za-z\u0600-\u06FF][A-Za-z\u0600-\u06FF\s']{2,}$">Name</input-text>
    <input-date id="bday" required="true" max="" min="">Birthday</input-date>
    <div class="rdo">
        <p translate="yes">Sex</p>
        <input-radio id="sex-male" name="sex-radio" required="true">Male</input-radio>
        <input-radio id="sex-female" name="sex-radio" required="true">Female</input-radio>
    </div>
    <input-text id="country" required="true" autocomplete="country-name" validation="^[A-Za-z\u0600-\u06FF][A-Za-z\u0600-\u06FF\s']{3,}$">Country</input-text>
    <button disabled>Continue</button>
</div>