label {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    cursor: default;
}

label > p {
    font-size: 18px;
    color: #000;
}

label > input {
    border: 1px solid #20212450;
    font: 400 18px Arial;
    outline: 2px solid #5865f200;
    border-radius: 4px;
    height: 32px;
    padding: 13px 15px;
    transition: all .1s;
    cursor: text;
    width: calc(100% - 30px);
}

label > input:focus {
    border: 1px solid #20212400;
    outline: 2px solid #5865f2;
}

label > input::placeholder {
    opacity: .5;
}

label.valid > input:not(:focus) {
    border: 1px solid #20212400;
    outline: 2px solid green;
}