<div class="mc">
    <p>We need your email address so we can send you the product you just purchased. Please specify which email we
        should send it to and make sure you write it correctly.</p>
    <input-mail id="mail" required="true" validate="true" placeholder="example@mail.com">E-mail</input-mail>
    <div class="chbs">
        <input-checkbox id="privacy" required="true">I have read, understand and accept the privacy policy.</input-checkbox>
        <input-checkbox id="amine" required="false">I would like to be sent emails to keep me informed of new Amine products.</input-checkbox>
        <input-checkbox id="commercial" required="false">I wish to receive emails for other commercial purposes.</input-checkbox>
    </div>
    <button disabled>Continue</button>
</div>