<div class="mc">
    <p>We need your email address so we can send you the product you just purchased. Please specify which email we
        should send it to and make sure you write it correctly.</p>
    <label class="input">
        <p>E-mail</p>
        <input type="email" autocomplete="email" placeholder="mail@example.com" required="">
    </label>
    <div class="chbs">
        <label class="checkbox">
            <div class="container">
                <input style="display: none;" id="cbx0" type="checkbox" required=""/>
                <label class="check" for="cbx0">
                    <svg viewBox="0 0 18 18" height="18px" width="18px">
                        <path
                            d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                        </path>
                        <polyline points="1 9 7 14 15 4"></polyline>
                    </svg>
                </label>
            </div>
            <p>I have read, understand and accept the privacy policy.</p>
        </label>
        <label class="checkbox">
            <div class="container">
                <input style="display: none;" id="cbx1" type="checkbox" />
                <label class="check" for="cbx1">
                    <svg viewBox="0 0 18 18" height="18px" width="18px">
                        <path
                            d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                        </path>
                        <polyline points="1 9 7 14 15 4"></polyline>
                    </svg>
                </label>
            </div>
            <p>I would like to be sent emails to keep me informed of new Amine products.</p>
        </label>
        <label class="checkbox">
            <div class="container">
                <input style="display: none;" id="cbx2" type="checkbox" />
                <label class="check" for="cbx2">
                    <svg viewBox="0 0 18 18" height="18px" width="18px">
                        <path
                            d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                        </path>
                        <polyline points="1 9 7 14 15 4"></polyline>
                    </svg>
                </label>
            </div>
            <p>I wish to receive emails for other commercial purposes.</p>
        </label>
    </div>
    <button disabled>Continue</button>
</div>