div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg {
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 100px;
    stroke: #42ed42;
    fill: none;
}

p {
    font-size: 18px;
    font-weight: bold;
}