<section class="frontpage">
    <p>Our best product.<br>Quality and price in perfect balance.</p>
    <product-card type="silver" price="35"></product-card>
</section>
<section class="includes">
    <product-plan-training></product-plan-training>
    <product-plan-alimentation></product-plan-alimentation>
    <product-giveaways months="2"></product-giveaways>
    <product-discord months="3" access="vip"></product-discord>
</section>
<section class="more">
    <p>All our products</p>
    <products-container></products-container>
</section>