app-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: #f5f5f5;
}

app-noscript {
    z-index: 999;
}

app-context-menu {
    z-index: 950;
}

app-loader {
    z-index: 900;
}

app-header {
    z-index: 800;
}

app-home, app-pricing {
    z-index: 1;
}