page-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    background-color: #f5f5f5;
}

noScript {
    z-index: 999;
}

context-menu {
    z-index: 950;
}

loader {
    z-index: 900;
}

page-header {
    z-index: 800;
}

home, pricing {
    z-index: 1;
}