#loadericonarea {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 900;
    cursor: wait;
    background-color: #0007;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    visibility: visible;
}

#loadericonarea>p {
    color: #fff;
    margin: 0px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

#loadericonarea>p.error {
    color: #ed4245;
    font-weight: bold;
    text-transform: uppercase;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 10px;
    left: -2.5px;
}
.box {
    width: 20px;
    height: 20px;
    margin: 0 8px;
    border-radius: 50%;
    animation: jump_4123 1s ease-in-out infinite;
}

.box:nth-child(1) {
    background-color: #4e4e4e;
    animation-delay: 0.2s;
}

.box:nth-child(2) {
    background-color: #bdbdbd;
    animation-delay: 0.4s;
}

.box:nth-child(3) {
    background-color: #4e4e4e;
    animation-delay: 0.6s;
}

.box:nth-child(4) {
    background-color: #bdbdbd;
    animation-delay: 0.8s;
}

@keyframes jump_4123 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}