<section class="frontpage">
    <p class="title">Copper</p>
    <p class="pricing">15$</p>
</section>
<section class="includes">

</section>
<section class="more">
    <div class="box active">
        <p>Recommended product</p>
        <div class="plan">
            <div class="header">
                <p class="title">Silver</p>
                <p class="price">35$</p>
                <div>
                    <button class="buy">Buy</button>
                    <button class="info">More info</button>
                </div>
            </div>
            <ul>
                <li>Personal plan</li>
                <li>Weekly tracking</li>
                <li>Giveaway participation</li>
            </ul>
        </div>
    </div>
    <div class="box">
        <div class="plan">
            <div class="header">
                <p class="title">Gold</p>
                <p class="price">55$</p>
                <div>
                    <button class="buy">Buy</button>
                    <button class="info">More info</button>
                </div>
            </div>
            <ul>
                <li>Personal plan</li>
                <li>Daily tracking</li>
                <li>Exclusive chat access</li>
                <li>Giveaway participation</li>
            </ul>
        </div>
    </div>
</section>