.frontpage {
    height: 400px;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 600;
}

.includes {
    z-index: 500;
}

.frontpage > p {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #000;
    font-size: 30px;
    max-width: calc(80vw - 600px);
    font-weight: bold;
}

.frontpage product-card {
    position: absolute;
    right: 10%;
    bottom: 50px;
    transform: scale(.8);
    animation: 3s levitation infinite ease-in-out;
}

@keyframes levitation {
    0% {
        translate: 0px -5px;
        rotate: 8deg;
    }

    50% {
        translate: 0px 5px;
        rotate: 11deg;
    }

    100% {
        translate: 0px -5px;
        rotate: 8deg;
    }
}

.more {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.more > p {
    font-size: 38px;
    font-weight: bold;
}