<div class="page">
    <div class="box">
        <!--
        
        <pay-loading></pay-loading>
        
        <pay-failed></pay-failed>
        <pay-completed></pay-completed>

        <pay-form-personal></pay-form-personal>
        <pay-form-plan></pay-form-plan>

        -->
        <pay-form-mail></pay-form-mail>

        <!--
        <app-payment-form></app-payment-form>
        <app-payment-loading></app-payment-loading>
        <app-payment-failed></app-payment-failed>
        <app-payment-completed></app-payment-completed>
        <app-payment-mail></app-payment-mail>
        -->
    </div>
</div>